.admin .body {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px; border-bottom:3px solid #ffb600;
}
.admin .adminBar {
	LINE-HEIGHT: 30px; WIDTH: 100%;  HEIGHT: 30px; COLOR: #444444
}
.admin .adminBar .icon {
	LINE-HEIGHT: 29px; WIDTH: 29px; ZOOM: 1; DISPLAY: inline-block; BACKGROUND: url(../images/admin_bg.gif) repeat-x 0px 0px; HEIGHT: 29px
}
.admin .bodyLeft {
	WIDTH: 49%; FLOAT: left
}
.admin .bodyRight {
	WIDTH: 49%; FLOAT: right
}
.admin .listTable {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; WIDTH: 100%; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid
}
.admin .listTable TH {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: url(../images/admin_x_bg.gif) repeat-x 0px -30px; HEIGHT: 30px; COLOR: #444444; PADDING-TOP: 0px
}
.admin .listTable TD {
	BORDER-BOTTOM: #dddddd 1px dotted; TEXT-ALIGN: left; LINE-HEIGHT: 30px; PADDING-LEFT: 10px
}
.admin .copyright {
	TEXT-ALIGN: right; LINE-HEIGHT: 30px; COLOR: #444444; CLEAR: both; FONT-SIZE: 12px
}
BODY.login {
	BACKGROUND-COLOR: #f9f9f9
}




.login_wrap{ padding-top: 8px;width:100%;}
.login_header{ width:900px; height:48px; margin:0px auto;border:none}
.login{ width:900px; margin:50px auto; }
.login .login_ab{height:320px;background:url(../images/admin_bg.jpg) no-repeat;position:relative;}
.login .loginBox { width: 368px; height:358px; border:1px solid #888; background:#FFF; position:absolute; right:18px; top:-25px;}
.login .loginBox h4{ !important; font-family:"微软雅黑"; font-size:18px; color:#000; margin:30px 0 35px 30px;}
.login div.formText { width: 230px; height: 30px; padding: 3px; float: left;  }
.login div.formText input:focus { background-color: #f3f6f8; }
.login div.formText input { width: 228px; height: 28px; line-height: 28px;  border:1px solid #d9d9d9; padding-left:5px; }
.login div.formTextS { width: 90px; height:30px; float: left; padding: 3px;}
.login div.formTextS input:focus { background-color: #f3f6f8; }
.login div.formTextS input { width: 88px; height: 28px; line-height: 28px; border:1px solid #d9d9d9; padding-left:5px; }
.login #captcha { text-transform: uppercase; }
.login .loginLogo { width: 195px; height: 90px; float: left; padding-top: 45px; padding-left: 40px; }
.login .loginLogo_1 { width: 195px; height: 90px; float: left; padding-top: 20px; padding-left: 40px; }
.login .loginTable { width: 340px; margin:0 auto}
.login .loginTable th { width: 70px; font-size:14px; font-weight:normal; color:#666; }
.login .loginTable tr { height: 40px; font-size:12px;}
.login .captchaImage { float: left; margin-left: 6px; }
.login .captchaImage img { cursor: pointer; margin-top:5px; }
.login .submitButton { width: 120px; height: 32px; font-size:14px; font-weight:bold; color:#FFF; line-height:32px; float: left; border:none; cursor: pointer; outline: none; background: url(../images/login_btn.png); }
.footer { margin:0px auto;width: 900px; height: 30px; line-height: 30px; text-align:left; color: #656d77; margin-top:50px; font-size:12px; font-family:Verdana, Geneva, sans-serif }
.footer a { padding: 0px 5px; text-decoration:none; color:#0080cb;}
.footer a:hover{ text-decoration:underline}
BODY.header {
	BACKGROUND: url(../images/header_x_bg.gif) repeat-x 0px 0px
}
.header .body {
	POSITION: relative; PADDING-LEFT: 150px; HEIGHT: 60px
}
.header .headerLogo {
	POSITION: absolute; WIDTH: 108px; BACKGROUND: url(../images/logo.gif) no-repeat 0px 0px; HEIGHT: 50px; TOP: 5px; LEFT: 20px
}
.header .headerTop {
	WIDTH: 100%; HEIGHT: 27px; CLEAR: both
}
.header .headerBottom {
	PADDING-BOTTOM: 3px; WIDTH: 100%; HEIGHT: 33px; CLEAR: both
}
.header .headerLink {
	LINE-HEIGHT: 27px; FLOAT: right; HEIGHT: 27px
}
.header .headerLink A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 0px
}
.header .headerMenu {
	FLOAT: left; HEIGHT: 30px
}
.header .headerMenu .menuLeft {
	WIDTH: 5px; BACKGROUND: url(../images/header_bg.gif) no-repeat 0px 0px; FLOAT: left; HEIGHT: 30px
}
.header .headerMenu UL {
	DISPLAY: block; BACKGROUND: url(../images/header_x_bg.gif) repeat-x 0px -60px; FLOAT: left; HEIGHT: 30px
}
.header .headerMenu LI {
	LINE-HEIGHT: 30px; BACKGROUND: url(../images/header_separator.gif) no-repeat right center; FLOAT: left; HEIGHT: 30px
}
.header .headerMenu LI A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; DISPLAY: block; FLOAT: left; HEIGHT: 30px; COLOR: #ffffff; FONT-SIZE: 14px; PADDING-TOP: 0px
}
.header .headerMenu LI A:hover {
	BACKGROUND: url(../images/header_bg.gif) no-repeat -90px 0px; COLOR: #f0f0f0
}
.header .headerMenu LI.home {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-TOP: 0px
}
.header .headerMenu LI.home A {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; WIDTH: 48px; DISPLAY: block; BACKGROUND: url(../images/header_bg.gif) no-repeat 0px -60px; HEIGHT: 30px
}
.header .headerMenu LI.home A:hover {
	BACKGROUND: url(../images/header_bg.gif) no-repeat 0px -90px
}
.header .headerMenu .menuRight {
	WIDTH: 5px; BACKGROUND: url(../images/header_bg.gif) no-repeat -30px 0px; FLOAT: left; HEIGHT: 30px
}
.header .userInfo {
	FLOAT: right; HEIGHT: 30px
}
.header .userInfo {
	LINE-HEIGHT: 30px; FLOAT: right; HEIGHT: 30px
}
.header .userInfo A {
	PADDING-LEFT: 10px
}
.header .welcome {
	COLOR: #000000
}
.header .profileIcon {
	PADDING-BOTTOM: 7px; LINE-HEIGHT: 30px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: url(../images/header_bg.gif) no-repeat 0px -30px; PADDING-TOP: 7px
}
.header .logoutIcon {
	PADDING-BOTTOM: 7px; LINE-HEIGHT: 30px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: url(../images/header_bg.gif) center no-repeat ; PADDING-TOP: 7px
}
.menu .menuContent {
	HEIGHT: 100%
}
.menu DT {
	LINE-HEIGHT: 29px; BACKGROUND: url(../images/menu_bg.gif) repeat-x 0px 0px; HEIGHT: 29px
}
.menu DT:hover {
	BACKGROUND: url(../images/menu_bg.gif) repeat-x 0px -30px
}
.menu DT SPAN {
	LINE-HEIGHT: 29px; PADDING-LEFT: 20px; DISPLAY: block; HEIGHT: 29px; COLOR: #336699
}
.menu DD {
	BORDER-BOTTOM: #efefef 1px solid; LINE-HEIGHT: 25px; PADDING-LEFT: 25px; HEIGHT: 25px
}
.menu DD:hover {
	BACKGROUND-COLOR: #ffffd4
}
.middle .main {
	WIDTH: 6px; HEIGHT: 100%; CURSOR: pointer
}
.middle .leftArrow {
	BACKGROUND: url(../images/middle_bg.gif) #d9d9d9 no-repeat -6px center
}
.middle .leftArrow:hover {
	BACKGROUND-COLOR: #e2e2e2
}
.middle .rightArrow {
	BACKGROUND: url(../images/middle_bg.gif) #d9d9d9 no-repeat -18px center
}
.middle .rightArrow:hover {
	BACKGROUND-COLOR: #eeeeee
}
.list .formButton {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: center; BORDER-LEFT: medium none; LINE-HEIGHT: 29px; WIDTH: 75px; BACKGROUND: url(../images/list_bg.gif) repeat-x 0px -30px; HEIGHT: 29px; MARGIN-LEFT: 6px; FONT-SIZE: 12px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
.list .formButton:hover {
	BACKGROUND: url(../images/list_bg.gif) repeat-x 0px -60px
}
.list .listBar {
	LINE-HEIGHT: 29px; HEIGHT: 29px; CLEAR: both
}
.list .listBar H1 {
	LINE-HEIGHT: 29px; HEIGHT: 29px; COLOR: #555555; FONT-SIZE: 12px
}
.list .listBar .icon {
	LINE-HEIGHT: 29px; WIDTH: 29px; ZOOM: 1; DISPLAY: inline-block; BACKGROUND: url(../images/list_bg.gif) no-repeat -30px 0px; HEIGHT: 29px
}
.list .listBar .pageInfo {
	FONT-WEIGHT: normal
}
.list .operateBar {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; CLEAR: both; PADDING-TOP: 3px
}
.list .operateBar LABEL {
	PADDING-LEFT: 30px
}
.list .operateBar .addButton {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: center; BORDER-LEFT: medium none; LINE-HEIGHT: 29px; WIDTH: 75px; BACKGROUND: url(../images/list_bg.gif) repeat-x 0px -30px; HEIGHT: 29px; MARGIN-LEFT: 6px; FONT-SIZE: 12px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
.list .operateBar .addButton:hover {
	BACKGROUND: url(../images/list_bg.gif) repeat-x 0px -60px
}
.list .operateBar .searchText {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; WIDTH: 150px; PADDING-RIGHT: 3px; DISPLAY: inline-block; BACKGROUND: url(../images/list_bg.gif) no-repeat -180px -30px; HEIGHT: 20px; PADDING-TOP: 3px; _display: inline
}
.list .operateBar .searchText INPUT {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 3px; LINE-HEIGHT: 12px; PADDING-LEFT: 25px; WIDTH: 122px; PADDING-RIGHT: 5px; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: 12px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 5px
}
.list .operateBar .searchButton {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; LINE-HEIGHT: 26px; WIDTH: 44px; BACKGROUND: url(../images/list_bg.gif) no-repeat -336px -30px; HEIGHT: 26px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
.list TABLE.listTable {
	WIDTH: 100%
}
.list TABLE.listTable TR:hover {
	BACKGROUND-COLOR: #ffffd4
}
.list TABLE.listTable TH {
	TEXT-ALIGN: left; LINE-HEIGHT: 29px; PADDING-LEFT: 5px; FONT-FAMILY: "宋体", Arial; HEIGHT: 29px
}
.list TABLE.listTable TH.check {
	WIDTH: 30px
}
.list TABLE.listTable TH .sort {
	CURSOR: pointer
}
.list TABLE.listTable TH .descSort {
	LINE-HEIGHT: 29px; WIDTH: 29px; ZOOM: 1; DISPLAY: inline-block; BACKGROUND: url(../images/list_bg.gif) no-repeat -60px 0px; HEIGHT: 29px
}
.list TABLE.listTable TH .ascSort {
	LINE-HEIGHT: 29px; WIDTH: 29px; ZOOM: 1; DISPLAY: inline-block; BACKGROUND: url(../images/list_bg.gif) no-repeat -90px 0px; HEIGHT: 29px
}
.list TABLE.listTable TD {
	BORDER-BOTTOM: #f0f0f0 1px solid; LINE-HEIGHT: 29px; PADDING-LEFT: 5px; HEIGHT: 29px; COLOR: #666666; WORD-BREAK: break-all
}
.list TABLE.listTable TD A {
	COLOR: #336699
}
.list TABLE.listTable TD A:hover {
	COLOR: #ff6600
}
.list .pagerBar {
	PADDING-BOTTOM: 20px; WIDTH: 100%; CLEAR: both; PADDING-TOP: 5px
}
.list .noRecord {
	BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: center; LINE-HEIGHT: 30px; WIDTH: 100%; HEIGHT: 30px; COLOR: red; CLEAR: both
}
.list .pagerBar .deleteButton {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: center; BORDER-LEFT: medium none; LINE-HEIGHT: 29px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; WIDTH: 63px; BACKGROUND: url(../images/list_bg.gif) repeat-x -90px -30px; FLOAT: left; HEIGHT: 29px; MARGIN-LEFT: 6px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
.list .pagerBar .deleteButton:hover {
	BACKGROUND: url(../images/list_bg.gif) repeat-x -90px -60px
}
.list .downIcon {
	LINE-HEIGHT: 29px; WIDTH: 29px; ZOOM: 1; DISPLAY: inline-block; BACKGROUND: url(../images/list_bg.gif) no-repeat -120px 0px; HEIGHT: 29px
}
.list .upIcon {
	LINE-HEIGHT: 29px; WIDTH: 29px; ZOOM: 1; DISPLAY: inline-block; BACKGROUND: url(../images/list_bg.gif) no-repeat -150px 0px; HEIGHT: 29px
}
#pager UL.pages {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; TEXT-TRANSFORM: uppercase; MARGIN: 3px; DISPLAY: block; FLOAT: right; FONT-SIZE: 12px; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
#pager UL.pages LI {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 2px; LIST-STYLE-TYPE: none; MARGIN: 0px 5px 0px 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FLOAT: left; BORDER-TOP: #cccccc 1px solid; CURSOR: pointer; LIST-STYLE-IMAGE: none; BORDER-RIGHT: #cccccc 1px solid; TEXT-DECORATION: none; PADDING-TOP: 2px
}
#pager UL.pages LI:hover {
	BORDER-BOTTOM: #003f7e 1px solid; BORDER-LEFT: #003f7e 1px solid; BORDER-TOP: #003f7e 1px solid; BORDER-RIGHT: #003f7e 1px solid
}
#pager UL.pages LI.pgEmpty {
	BORDER-BOTTOM: #cfcfcf 1px solid; BORDER-LEFT: #cfcfcf 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #cfcfcf; BORDER-TOP: #cfcfcf 1px solid; CURSOR: default; BORDER-RIGHT: #cfcfcf 1px solid; PADDING-TOP: 2px
}
#pager UL.pages LI.pgCurrent {
	BORDER-BOTTOM: #003f7e 1px solid; BORDER-LEFT: #003f7e 1px solid; BACKGROUND-COLOR: #eeeeee; BORDER-TOP: #003f7e 1px solid; FONT-WEIGHT: 700; BORDER-RIGHT: #003f7e 1px solid
}
.input .body {
	PADDING-BOTTOM: 30px
}
.input UL.tab {
	PADDING-LEFT: 161px; BACKGROUND: url(../images/input_x_bg.gif) repeat-x; HEIGHT: 30px
}
.input UL.tab LI {
	FLOAT: left
}
.input UL.tab LI INPUT {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: center; BORDER-LEFT: medium none; LINE-HEIGHT: 29px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; WIDTH: 100px; DISPLAY: block; BACKGROUND: url(../images/input_bg.gif) no-repeat -100px 0px; HEIGHT: 29px; BORDER-TOP: medium none; CURSOR: pointer; FONT-WEIGHT: bold; BORDER-RIGHT: medium none
}
.input UL.tab LI INPUT.current {
	BACKGROUND: url(../images/input_bg.gif) no-repeat 0px 0px
}
.input .inputBar {
	LINE-HEIGHT: 29px; BACKGROUND: url(../images/input_x_bg.gif) repeat-x 0px 0px; HEIGHT: 29px
}
.input .inputBar H1 {
	LINE-HEIGHT: 29px; HEIGHT: 29px; COLOR: #555555; FONT-SIZE: 12px
}
.input .inputBar .icon {
	LINE-HEIGHT: 29px; WIDTH: 29px; ZOOM: 1; DISPLAY: inline-block; BACKGROUND: url(../images/input_bg.gif) no-repeat 0px -30px; HEIGHT: 29px
}
.input TABLE.inputTable {
	WIDTH: 100%
}
.input TABLE.inputTable TH {
	BORDER-BOTTOM: #e1e1e1 1px solid; TEXT-ALIGN: right; PADDING-BOTTOM: 5px; LINE-HEIGHT: 25px; BACKGROUND-COLOR: #f8f8f8; PADDING-LEFT: 0px; WIDTH: 150px; PADDING-RIGHT: 10px; COLOR: #333333; PADDING-TOP: 5px
}
.input TABLE.inputTable TR:hover TH {
	BACKGROUND-COLOR: #eeeeee
}
.input TABLE.inputTable TR.title TH {
	TEXT-ALIGN: left; PADDING-LEFT: 10px
}
.input TABLE.inputTable TD {
	BORDER-BOTTOM: #e1e1e1 1px solid; PADDING-BOTTOM: 5px; LINE-HEIGHT: 25px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; COLOR: #666666; PADDING-TOP: 5px
}
.input .buttonArea {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 25px; PADDING-LEFT: 170px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.goodsImageArea {
	HEIGHT: 180px
}
.goodsImageArea .example {
	WIDTH: 130px; BACKGROUND: url(../images/input_bg.gif) no-repeat -270px 0px; FLOAT: left; HEIGHT: 130px; MARGIN-RIGHT: 10px
}
.goodsImageArea .prev {
	BORDER-BOTTOM: #ededed 1px solid; BORDER-LEFT: #ededed 1px solid; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; WIDTH: 8px; DISPLAY: block; BACKGROUND: url(../images/input_bg.gif) #fafafa no-repeat -210px 0px; FLOAT: left; HEIGHT: 130px; BORDER-TOP: #ededed 1px solid; MARGIN-RIGHT: 5px; BORDER-RIGHT: #ededed 1px solid
}
.goodsImageArea .prev:hover {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BACKGROUND-COLOR: #f3f3f3; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid
}
.goodsImageArea .next {
	BORDER-BOTTOM: #ededed 1px solid; BORDER-LEFT: #ededed 1px solid; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; WIDTH: 8px; DISPLAY: block; BACKGROUND: url(../images/input_bg.gif) #fafafa no-repeat -240px 0px; FLOAT: left; HEIGHT: 130px; MARGIN-LEFT: 5px; BORDER-TOP: #ededed 1px solid; BORDER-RIGHT: #ededed 1px solid
}
.goodsImageArea .next:hover {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BACKGROUND-COLOR: #f3f3f3; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid
}
.goodsImageArea .scrollable {
	BORDER-BOTTOM: #cccccc 1px solid; POSITION: relative; BORDER-LEFT: #cccccc 1px solid; LINE-HEIGHT: 130px; WIDTH: 502px; FLOAT: left; HEIGHT: 130px; OVERFLOW: hidden; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid
}
.goodsImageArea .items {
	POSITION: absolute; WIDTH: 20000em
}
.goodsImageArea LI {
	TEXT-ALIGN: center; MARGIN: 5px; WIDTH: 90px; DISPLAY: block; FLOAT: left; HEIGHT: 90px
}
.goodsImageArea .goodsImageBox {
	POSITION: relative
}
.goodsImageArea .goodsImageBox .goodsImagePreview {
	Z-INDEX: 0; BORDER-BOTTOM: #cfcfcf 1px solid; POSITION: absolute; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale); BORDER-LEFT: #cfcfcf 1px solid; LINE-HEIGHT: 90px; WIDTH: 90px; HEIGHT: 90px; COLOR: #969696; OVERFLOW: hidden; BORDER-TOP: #cfcfcf 1px solid; TOP: 0px; BORDER-RIGHT: #cfcfcf 1px solid; LEFT: 0px
}
.goodsImageArea .goodsImageBox .goodsImagePreview:hover {
	BORDER-BOTTOM: #ffc097 1px solid; BORDER-LEFT: #ffc097 1px solid; BORDER-TOP: #ffc097 1px solid; BORDER-RIGHT: #ffc097 1px solid
}
.goodsImageArea .goodsImageBox .goodsImagePreview IMG {
	WIDTH: 90px; HEIGHT: 90px
}
.goodsImageArea .goodsImageBox .goodsImageOperate {
	Z-INDEX: 1; POSITION: absolute; PADDING-LEFT: 13px; WIDTH: 90px; DISPLAY: none; BACKGROUND: url(../images/goods_image_operate_bg.png) no-repeat 0px 0px; HEIGHT: 25px; TOP: 66px; PADDING-TOP: 3px; LEFT: 1px
}
.goodsImageArea .goodsImageBox .goodsImageOperate .left {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; WIDTH: 19px; DISPLAY: block; FLOAT: left; HEIGHT: 19px; OVERFLOW: hidden; MARGIN-RIGHT: 1px
}
.goodsImageArea .goodsImageBox .goodsImageOperate .right {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; WIDTH: 19px; DISPLAY: block; FLOAT: left; HEIGHT: 19px; OVERFLOW: hidden; MARGIN-RIGHT: 1px
}
.goodsImageArea .goodsImageBox .goodsImageOperate .delete {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; WIDTH: 19px; DISPLAY: block; FLOAT: left; HEIGHT: 19px; OVERFLOW: hidden
}
.goodsImageArea .goodsImageBox .goodsImageUploadButton {
	BORDER-BOTTOM: medium none; POSITION: relative; BORDER-LEFT: medium none; LINE-HEIGHT: 22px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; WIDTH: 74px; DISPLAY: block; BACKGROUND: url(../images/input_bg.gif) no-repeat 0px -60px; HEIGHT: 22px; OVERFLOW: hidden; BORDER-TOP: medium none; TOP: 97px; CURSOR: pointer; BORDER-RIGHT: medium none; LEFT: 0px
}
.goodsImageArea .goodsImageBox .goodsImageUploadButton INPUT {
	Z-INDEX: 1; POSITION: absolute; FILTER: alpha(opacity = 0); LINE-HEIGHT: 22px; WIDTH: 74px; DIRECTION: rtl; HEIGHT: 22px; FONT-SIZE: 40px; TOP: 0px; CURSOR: pointer; LEFT: 0px; opacity: 0
}
.goodsImageArea .goodsImageBox .goodsImageUploadButton DIV {
	Z-INDEX: 0; POSITION: absolute; TEXT-ALIGN: center; LINE-HEIGHT: 22px; WIDTH: 74px; HEIGHT: 22px; TOP: 0px; CURSOR: pointer; LEFT: 0px
}
.body .goodsSpecificationTable {
	BORDER-BOTTOM: #e1e1e1 1px solid; BORDER-LEFT: #e1e1e1 1px solid; BORDER-TOP: #e1e1e1 1px solid; BORDER-RIGHT: #e1e1e1 1px solid
}
.body .goodsSpecificationArea {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 5px; OVERFLOW-Y: scroll; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; HEIGHT: 120px; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 5px
}
.body .goodsSpecificationPreview {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 5px; OVERFLOW-Y: scroll; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; HEIGHT: 120px; BORDER-TOP: #cccccc 1px solid; CURSOR: default; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 5px
}
.body .goodsSpecificationPreview UL .text {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 0px; MARGIN-TOP: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FLOAT: left; BORDER-TOP: #cccccc 1px solid; MARGIN-RIGHT: 5px; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 0px
}
.body .goodsSpecificationPreview UL .image {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 1px; MARGIN-TOP: 5px; PADDING-LEFT: 1px; WIDTH: 22px; PADDING-RIGHT: 1px; FLOAT: left; HEIGHT: 22px; BORDER-TOP: #cccccc 1px solid; MARGIN-RIGHT: 5px; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 1px
}
.body .goodsSpecificationPreview UL .image IMG {
	WIDTH: 22px; HEIGHT: 22px
}
.body .goodsSpecificationValueSelect SPAN {
	BORDER-BOTTOM: #cccccc 1px dotted; TEXT-ALIGN: center; BORDER-LEFT: #cccccc 1px dotted; PADDING-BOTTOM: 3px; LINE-HEIGHT: 21px; PADDING-LEFT: 0px; WIDTH: 60px; PADDING-RIGHT: 0px; DISPLAY: block; HEIGHT: 21px; BORDER-TOP: #cccccc 1px dotted; CURSOR: pointer; BORDER-RIGHT: #cccccc 1px dotted; PADDING-TOP: 3px
}
.body .goodsSpecificationValueSelect SPAN:hover {
	BORDER-BOTTOM: #ff6600 1px dotted; BORDER-LEFT: #ff6600 1px dotted; BORDER-TOP: #ff6600 1px dotted; BORDER-RIGHT: #ff6600 1px dotted
}
.body .goodsSpecificationValueSelect SPAN IMG {
	WIDTH: 22px; HEIGHT: 22px
}
.body .goodsSpecificationValueSelect .goodsSpecificationValueSelected {
	BORDER-BOTTOM: #ff8a00 1px solid; BORDER-LEFT: #ff8a00 1px solid; BORDER-TOP: #ff8a00 1px solid; BORDER-RIGHT: #ff8a00 1px solid
}
.body .goodsSpecificationValueSelect UL {
	Z-INDEX: 1; BORDER-BOTTOM: #ff8a00 1px solid; POSITION: absolute; BORDER-LEFT: #ff8a00 1px solid; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #ffffd4; PADDING-LEFT: 5px; WIDTH: 215px; PADDING-RIGHT: 5px; DISPLAY: none; BORDER-TOP: #ff8a00 1px solid; BORDER-RIGHT: #ff8a00 1px solid; PADDING-TOP: 0px
}
.body .goodsSpecificationValueSelect UL .text {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #ffffff; MARGIN-TOP: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FLOAT: left; BORDER-TOP: #cccccc 1px solid; CURSOR: pointer; MARGIN-RIGHT: 5px; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 0px
}
.body .goodsSpecificationValueSelect UL .image {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 1px; BACKGROUND-COLOR: #ffffff; MARGIN-TOP: 5px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; FLOAT: left; BORDER-TOP: #cccccc 1px solid; CURSOR: pointer; MARGIN-RIGHT: 5px; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 1px
}
.body .goodsSpecificationValueSelect UL .image IMG {
	WIDTH: 22px; DISPLAY: block; HEIGHT: 22px
}
.body .goodsSpecificationValueSelect UL .notAllowed {
	COLOR: #cccccc; CURSOR: not-allowed
}
.goodsSpecification .goodsSpecificationValueTable {
	BORDER-BOTTOM: #e1e1e1 1px solid; BORDER-LEFT: #e1e1e1 1px solid; BORDER-TOP: #e1e1e1 1px solid; BORDER-RIGHT: #e1e1e1 1px solid
}
.goodsSpecification .goodsSpecificationValueTable TR TH {
	TEXT-ALIGN: left; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
.goodsSpecification .goodsSpecificationValueTable TR TD {
	BORDER-BOTTOM: #e1e1e1 1px solid; BORDER-LEFT: #e1e1e1 1px solid; LINE-HEIGHT: 35px; HEIGHT: 35px; BORDER-TOP: #e1e1e1 1px solid; BORDER-RIGHT: #e1e1e1 1px solid
}
.goodsSpecification .goodsSpecificationValueTable TR .upGoodsSpecificationValue {
	MARGIN: 0px 5px
}
.goodsSpecification .goodsSpecificationValueTable TR .downGoodsSpecificationValue {
	MARGIN: 0px 5px
}
.goodsSpecification .goodsSpecificationValueTable TR .deleteGoodsSpecificationValue {
	MARGIN: 0px 5px
}
.goodsSpecification .goodsSpecificationValueImage .goodsSpecificationValueImagePreview {
	BORDER-BOTTOM: #cfcfcf 1px solid; POSITION: static; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale); BORDER-LEFT: #cfcfcf 1px solid; LINE-HEIGHT: 30px; MARGIN: 0px 10px; WIDTH: 30px; FLOAT: left; HEIGHT: 30px; COLOR: #969696; OVERFLOW: hidden; BORDER-TOP: #cfcfcf 1px solid; BORDER-RIGHT: #cfcfcf 1px solid
}
.goodsSpecification .goodsSpecificationValueImage .goodsSpecificationValueImagePreview:hover {
	BORDER-BOTTOM: #ff6600 1px solid; BORDER-LEFT: #ff6600 1px solid; BORDER-TOP: #ff6600 1px solid; BORDER-RIGHT: #ff6600 1px solid
}
.goodsSpecification .goodsSpecificationValueImage .goodsSpecificationValueImagePreview IMG {
	WIDTH: 30px; HEIGHT: 30px
}
.goodsSpecification .goodsSpecificationValueImage .goodsSpecificationValueImageUploadButton {
	BORDER-BOTTOM: medium none; POSITION: relative; BORDER-LEFT: medium none; LINE-HEIGHT: 22px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; WIDTH: 74px; DISPLAY: block; BACKGROUND: url(../images/admin_button.gif) no-repeat 0px -90px; FLOAT: left; HEIGHT: 22px; OVERFLOW: hidden; BORDER-TOP: medium none; TOP: 5px; CURSOR: pointer; BORDER-RIGHT: medium none; LEFT: 0px
}
.goodsSpecification .goodsSpecificationValueImage INPUT {
	Z-INDEX: 1; POSITION: absolute; FILTER: alpha(opacity = 0); LINE-HEIGHT: 22px; WIDTH: 74px; DIRECTION: rtl; HEIGHT: 22px; FONT-SIZE: 40px; TOP: 0px; CURSOR: pointer; LEFT: 0px; opacity: 0
}
.goodsSpecification .goodsSpecificationValueImage DIV {
	Z-INDEX: 0; POSITION: absolute; TEXT-ALIGN: center; LINE-HEIGHT: 22px; WIDTH: 74px; HEIGHT: 22px; TOP: 0px; CURSOR: pointer; LEFT: 0px
}
