body{background:none;}
h1{font-size:12px;color:#444;line-height:55px;background:url(../images/welcome_h1.gif);padding-left:2%;width:100%}
dl{line-height:40px;background:url(../images/welcome.gif) no-repeat left 10px;padding-left:20px;margin:35px 0 45px 15%;}
dt{color:#009de6;padding-left:30px;}
dd{color:#444;}
a{color:#06c;}
a:hover{color:#09f;}
p{color:#999;border-top:1px solid #cbe4f5;text-align:center;padding-top:20px;}
p a{color:#666;text-decoration: none;}